/* Custom grey scrollbar for all themes */
@layer base {
  /* Webkit browsers */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: #a3a3a3; /* Tailwind gray-400 */
    border-radius: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #27272a; /* Tailwind zinc-900 */
  }
  /* Firefox */
  html {
    scrollbar-width: thin;
    scrollbar-color: #a3a3a3 #27272a;
  }
}
